.pagestyling {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
.pagestyling {
    flex-direction: row;
  }


.leftsidecontainer {
    width: 935px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
.rightsidecontainer {
    position: relative;

  }
  .textcontainer{
    position: absolute;
    margin-left: 140px;
    margin-top: 140px;
    background-color: transparent;
    width: 350px;
    height: 540px;
}

.t1{
    text-align: center;
margin-top: 100px;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 40px;
}
.t2{
    text-align: center;
margin-top: 60px;
margin-left: 40px;
margin-right: 40px;
margin-bottom: 90px;
}
.text1{
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-size: 35px;
    color:white ;
    font-weight:550;
}
.text2{
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-size: 18px;
    color:white ;
    font-weight:lighter;
    line-height: 1.4;
}
.hline{
    margin-left: 135px;
}

.buttoncontainer{
    justify-content: flex-end;
    margin-left: 97px;
  }
  .button2{
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius:15px;
    width: 170px;
    height: 56px;
    flex-shrink: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  .div2{
    color:white;
    font-weight:bold;
    font-size: 1.3em;
  }

  .button2:hover{
    background-color: white;
}
.button2:hover .div2{
    color:#86bbd8;
}
.logo{
    background-color: transparent;  position: absolute;
    top: 1%;
    left: 1%;
    width: 100%;
}
.textcontainer1{
    position: absolute;
    margin-left: 140px;
    margin-top: 140px;
    background-color: transparent;
    width: 700px;
    height: 580px;
}

.t3{
text-align: center;
margin-top: 80px;
margin-right: 10px;
margin-bottom: 35px;
}
.text3{
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-size: 47px;
    color:#33658A ;
    font-weight:550;
}
.hline2{
    margin-left: 300px;
}
.t4{
text-align: center;
margin-top: 35px;
margin-right: 10px;
margin-bottom: 35px;
}
.text4{
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-size: 15px;
    color:#acbac9 ;
    font-weight:LIGHTER;
}
.facebookbutton{
    margin-top: 35px !important;
    margin-right: 10px !important;
    margin-left: 285px !important;
    background-color: #33658A !important;
}
.googlebutton{
    margin-top: 35px !important;
    margin-right: 10px !important;
    margin-left: 20px !important;
    background-color: #33658A !important;
}
.form{
    
        max-width: 450px;
        margin-left: 120px;
        text-align: center;
   
}
.form input{
  height: 39px;
  width: 100%;
  padding: 6px 10px;
  margin: 20px 0;
  border-style: solid;
  border-color: #86bbd8;
  border-width: 3px;
  border-radius:8px;
  box-sizing: border-box;
  display: block;
  color:#acbac9;
}
.form input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: #acbac9;
}
.remember{
    margin-left: 110px !important;
}
.button3{
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius:15px;
    width: 200px;
    height: 56px;
    flex-shrink: 0;
    overflow: hidden;
    transition: 0.3s;
    margin-left: 95px;
  }
  .div3{
    color:#2f4858;
    font-size: 1.2em;
  }
  .button4{
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    border-style: solid;
    border-color: #33658A;
    border-width: 3px;
    border-radius:15px;
    width: 200px;
    height: 56px;
    flex-shrink: 0;
    overflow: hidden;
    transition: 0.3s;
    margin-top: 10px;
    margin-left: 230px;
  }
  .div4{
    color:#33658A;
    font-size: 1.7em;
  }

  .button4:hover{
    background-color: #33658A;
}
.button4:hover .div4{
    color:white;
}